# Compiled Python C++ Extensions
*.so
*.pyd
*.dylib

# Python Build Folders
build/
dist/
*.egg-info/
.eggs/

# Virtual Environment
venv/
ENV/

# Rust Build Artifacts (We upload CODE, not BINARIES)
rust/target/
rust/Cargo.lock

# IDEs
.vscode/
.idea/
